<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Seguros Universales, la mejor aseguradora de Guatemala">
    <meta name="author" content="Universales team">
    <link rel="icon" href="favicon.ico">

    <title>Uniweb</title>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/tether.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
        
        <link rel="stylesheet" href="css/theme.min.css">
        <link rel="stylesheet" href="css/prism.css">

    </head>
    <body>
        {% block content %} {% endblock %}
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/popper.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>

        <script type="text/javascript" src="js/prism.js"></script>
        <script type="text/javascript" src="js/theme.min.js"></script>

    </body>
</html>
